.landingPage {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.foto {
    border-radius: 50%;
    height: 200px;
    width: 250px;
}

p {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    max-width: 50%;
}
