
.landingPage {
    height: 100vh;
    width: 100%;
    background-color: var(--landing-bg);
}

.foto {
    border-radius: 50%;
    height: 200px;
    width: 250px;
}

.landingPage p {
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.landingPage h1 {
    color: var(--text-color);
    font-size: 36px;
    max-width: 50%;
}
