.form {
  min-height: 100vh;
  width: 100%;
  background-color: var(--contact-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 15px;  
  width: 90%; 
}

.form form label {
  font-weight: bold; 
  margin-bottom: 5px; 
}

.form form input,
.form form select,
.form form textarea {
  width: 100%;
  padding: 10px; 
  border: 1px solid var(--text-color); 
  border-radius: 4px; 
}

.form form input[type="text"],
.form form input[type="email"] {
  height: 45px; 
}

.form form textarea {
  min-height: 60%; 
  resize: vertical; 
}

