nav.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.lang-dropdown .dropdown-menu {
  min-width: 4rem;
  z-index: 1100;
}

.nav-btn {
  min-width: 9rem;
  white-space: nowrap;
}

